<ion-view view-title="Dashboard">
  <ion-content>
  <h4 class="positive-border" style="background-color: red;">WCY Test1234</h4>
      <button class="button button-positive" ng-click="testCreateLevel()">Add New Level</button>
      <button class="button button-positive" ng-click="testInsert()">Insert</button>
      <label>{{params}}</label>
    <canvas id="testCanvas1122" width="960" height="480" style="left: 200px; background-color:lightskyblue;" class="positive-border"></canvas>

  </ion-content>
</ion-view>
