<ion-view id="udoido-view">
<ion-content scroll="false">
        <!-- BEGIN OF Config.TECH_TEST1_LOCAL_CACHE_ON -->
        <!--
        <div>
            <a href="#" id="clear_cache">Clear the local filesystem cache</a>
            <a href="#" id="cache_folder" target="new">Navigate into local cache folder</a>
        </div>
        <div>Image from cache: </div>
        <div>
            <img ng-src={{localImage1}} height="100" width="100">
            <img ng-src={{localImage2}} width="120" height="82">
        </div>
        -->
        <!-- END OF Config.TECH_TEST1_LOCAL_CACHE_ON -->
    <canvas id="clipCanvas" width="100%" height="100%" style="background: whitesmoke;"></canvas>
    <div class="float-tool">
            <div class="new-left-button functionButton">
                <div class="fn-left">
                    <button title={{getLocale('wcy_gongneng_button_17')}} class="bn-new-icon" id="tbHideShow">
                        <span class="ui-icon ui-icon-lightbulb"></span>
                    </button>
                    <button title="{{getLocale('wcy_gongneng_button_18')}}" class="bn-new-icon" id="btn-pin-it">
                        <span class="ui-icon ui-icon-pin-s"></span>
                    </button>
                </div>
                <div class="fn-left">
                </div>
                <div  class="fn-left">
                    <button title={{getLocale('wcy_gongneng_button_25')}} class="bn-new-icon" id="tb3Dfy">
                        <span class="ui-icon ui-icon-newwin"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_26')}} class="bn-new-icon" id="group">
                        <span class="ui-icon ui-icon ui-icon-copy"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_27')}} class="bn-new-icon" id="tbUngroup">
                        <span class="ui-icon ui-icon-extlink"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_28')}} class="bn-new-icon" id="joint">
                        <span class="ui-icon ui-icon-link"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_29')}} class="bn-new-icon" id="tbMinAngle">
                        <span class="ui-icon ui-icon-arrowstop-1-s"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_30')}} class="bn-new-icon" id="tbMaxAngle">
                        <span class="ui-icon ui-icon-arrowstop-1-n"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_31')}} class="bn-new-icon" id="tbUnjoint">
                        <span class="ui-icon ui-icon-unlink"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_32')}} class="bn-new-icon" id="skinning">
                        <span class="ui-icon ui-icon-scissors"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_33')}} class="bn-new-icon" style="display:none">
                        <span class="ui-icon ui-icon-pen"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_34')}} class="bn-new-icon" id="keepTrace" style="display:none">
                        <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_35')}} class="bn-new-icon" id="tbVkeyCtrl">
                        <span class="ui-icon ui-icon-multiplechoice"></span>
                    </button>
                    <button id="action_add_btn" class="bn-new-icon" title={{getLocale('wcy_gongneng_button_36')}}>
                        <span class="ui-icon ui-icon-tjdz"></span>
                    </button>
                    <button class="bn-new-icon"  title={{getLocale('wcy_gongneng_button_37')}} id="action_btn">
                        <span class="ui-icon ui-icon-run"></span>
                    </button>
                    <button id="hudong_add_btn" class="bn-new-icon" title={{getLocale('wcy_gongneng_button_38')}} style="display:none">
                        <span class="ui-icon ui-icon-hd"></span>
                    </button>
                </div>
            </div>


            <div class="fn-left new-left functionButton">
                <ul class="new-left-li">
                    <li class="tabmenu_left_ajax_btn" cate_id="3" tag_type="2" id="add-local-photo" ng-click="insertBkImageFromLocal()">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_beijing')}} etype="1">
                            <span class="left-top bj"></span>
                        </a>
                    </li>
                    <li class="tabmenu_left_ajax_btn" cate_id="6" tag_type="2" style="display:none">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_linjian')}} etype="8">
                            <span class="left-top lj"></span>
                        </a>
                    </li>
                    <li class="tabmenu_left_ajax_btn" style="display:none" tag_type="2">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_zhuti')}} etype="">
                            <span class="left-top zt"></span>
                        </a>
                    </li>
                    <li class="tabmenu_left_ajax_btn" cate_id="4" tag_type="2">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_daoju')}} etype="2">
                            <span class="left-top dj"></span>
                        </a>
                    </li>
                    <li class="tabmenu_left_ajax_btn" cate_id="5" tag_type="2">
                        <a href="javascript:void(0)"  title={{getLocale('wcy_menu_renwu')}} etype="3">
                            <span class="left-top rw"></span>
                        </a>
                    </li>
                    <li id="addText" ng-click="setColor()">
                        <a  href="javascript:void(0)" title={{getLocale('wcy_menu_charuwenben')}}>
                            <span class="left-top wz"></span>
                        </a>
                    </li>
                    <li id="hudong" class="tabmenu_left_ajax_btn" cate_id="hudong" tag_type="2">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_hudonganniu')}} etype="6">
                            <span class="left-top hd"></span>
                        </a>
                    </li>
                    <li id="mohuan" class="tabmenu_left_ajax_btn"  cate_id="mohuan" tag_type="2">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_mohuananniu')}} etype="5">
                            <span class="left-top mh"></span>
                        </a>
                    </li>
                    <li id="sound" class="tabmenu_left_ajax_btn" cate_id="68" tag_type="11">
                        <a href="javascript:void(0)" title={{getLocale('wcy_menu_sounds')}} etype="7">
                            <span class="left-top sy"></span>
                        </a>
                    </li>
                    <li id="my" class="on tabmenu_left_ajax_btn" cate_id='my' tag_type="2">
                        <a  href="javascript:void(0)" title={{getLocale('wcy_menu_my')}} etype=''>
                            <span class="left-top gr"></span>
                        </a>
                    </li>
                </ul>
                <div class="fbbc">
                    <button title={{getLocale('wcy_gongneng_button_1')}} class="bn-new-hover" id="subElementMode">
                        <span class="ui-icon ui-icon-wrench"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_2')}} class="bn-new-hover" id="linearMode">
                        <span class="ui-icon ui-icon-signal"></span>
                    </button>
                    <button title={{getLocale('wcy_gongneng_button_3')}} class="bn-new-hover" id="tbRemoveTrack">
                        <span class="ui-icon ui-icon-closethick"></span>
                    </button>
                    <button id="delete" class="bn-new-hover" title={{getLocale('wcy_gongneng_button_4')}}>
                        <span class="ui-icon ui-icon-close"></span>
                    </button>
                </div>
            </div>

            <input type="text" id="sceneId" name='sceneId' ng-model="data.sceneId" required>
            </div>
            <div id="timeline-trim-div" class="toolbar-layer" ng-show="state.showTrimTimeline">
                <rzslider
                    data-rz-slider-model="timelineSlider.minValue"
                    data-rz-slider-high="timelineSlider.maxValue"
                    data-rz-slider-options="timelineSlider.options">
                </rzslider>
                <button class="ion-scissors" ng-click="EditorService.trim();">Trim</button>
            </div>

            <div id="timer-bar-div" class="toolbar-layer" ng-show="false && !state.showTrimTimeline">
                <rzslider
                    data-rz-slider-model="timelineSlider.minValue"
                    data-rz-slider-options="timelineSlider.options">
                </rzslider>
                <button class="ion-scissors" ng-click="EditorService.turnOnTrim();">Trim</button>
                <button class="ion-plus-round" ng-click="EditorService.increaseTimeline()"></button>
                <button class="ion-minus-round" ng-click="EditorService.decreaseTimeline()"></button>
            </div>
    <!-- ** style="display: none" -->

        <div class="float-tool_new toolbar-layer" style="display: block">
            <!-- 作品 -->
            <div id="pay-button-div"> </div>
            <div style="display: block">
              <div ng-show="false && state.isPlayOnly">播放Only</div>
              <button class="button button-positive" ng-click="batchUnitTest()">批测试</button>
              <button class="button button-positive" ng-click="makeOrder()" ng-show="false">下订单</button>
              <button class="button button-positive" ng-click="testSignUp()">注册</button>
              <button class="button button-positive" ng-click="testWxLogin('1111')" ng-show="false">Wx登录</button>
              <button class="button button-positive" ng-click="testLogin('1111')" ng-show="true">登录toronto1111</button>
              <button class="button button-positive" ng-click="testLogin('2222')" ng-show="false">22</button>
              <button class="button button-positive" ng-click="testLogin('3333')" ng-show="false">33</button>
              <button class="button button-positive" ng-click="testLogin('4444')" ng-show="false">44</button>
              <button class="button button-positive" ng-click="testAuthenticate('facebook')" ng-show="false">fb登录</button>
              <button class="button button-positive" ng-click="testAuthenticate('twitter')" ng-show="false">twitter登录</button>
              <button class="button button-positive" ng-click="testAuthenticate('google')" ng-show="false">google+登录</button>
              <button class="button button-positive" ng-click="testAuthenticate('wechat')" ng-show="false">微信登录</button>
              <button class="button button-positive" ng-click="setAdmin()" ng-show="true">setAdmin</button>
              <button class="button button-positive" ng-click="testUserAdmin()" ng-show="true">set user as admin</button>
              <button class="button button-positive" ng-click="testLogout()" ng-show="false">logout</button>
              <button class="button button-positive" ng-click="createWcy()" ng-show="false">{{getStr("new");}}</button>
              <button class="button button-positive" ng-click="EditorService.setWorkingRegion(414, 736, true)" ng-show="false">iPhone6+</button>
              <button class="button button-positive" ng-click="EditorService.setBackgroundColor('red')" ng-show="false">红底色</button>
              <button class="button button-positive" ng-click="setLang('en')" ng-show="false">{{getStr("en");}}</button>
              <button class="button button-positive" ng-click="setLang('zh')" ng-show="false">{{getStr("zh");}}</button>
              <button class="button button-positive" ng-click="saveWorks()">保存</button>

              <!-- 微信 -->
              <div style="display: inline-block">
                <button class="button button-positive" ng-click="shareWeb()" ng-show="false">WebShare</button>
                <button class="button button-positive" ng-click="share()" ng-show="false">分享1</button>
                <button class="button button-positive" ng-click="shareFB()" ng-show="false">分享到FB</button>
                <button class="button button-positive" ng-click="shareWx()" ng-show="false">分享到Wx</button>
                    <div
                        class="fb-like btn-md"
                     data-share="true"
                     data-width="450"
                     data-show-faces="true">
                    </div></div>


              <!-- 素材管理 -->
              <button class="button button-positive" ng-click="addSprite()">声音添加Sprite</button>

              <!-- 作品管理 -->
              <button class="button button-positive" ng-click="banOpus()">禁止</button>
              <button class="button button-positive" ng-click="publishOpus()">发表</button>
              <button class="button button-positive" ng-click="refineOpus()">荐优</button>


              <button class="button button-positive" ng-click="EditorService.forkIt()" ng-show="false">ForkIt</button>
              <button class="button button-positive" ng-click="EditorService.cloneIt()" ng-show="false">CloneIt</button>
              <button class="button button-positive" ng-click="testDataService()" ng-show="false">素材库读取</button>
              <button class="button button-positive" ng-click="addTopic()" ng-show="false">添加topic</button>
              <button class="button button-positive" ng-click="updateTopic()" ng-show="false">updateTopic</button>
              <button class="button button-positive" ng-click="getTopics()" ng-show="false">获取topic列表</button>
              <button class="button button-positive" ng-click="attachTopic()" ng-show="false">关联素材到主题</button>
              <button class="button button-positive" ng-click="detachTopic()" ng-show="false">取消关联素材到主题</button>
              <button class="button button-positive" ng-click="EditorService.toAddMode()">编辑</button>
              <button class="weui-btn weui-btn_mini weui-btn_primary" ng-click="getOutro(); EditorService.replay()">重播</button>
              <button class="button button-positive" ng-click="EditorService.preview()">预览</button>
              <button class="button button-positive" ng-click="EditorService.previewCurrentLevel($event)" ng-show="false">预览本节</button>
              <button class="button button-positive" ng-click="EditorService.stop($event)" ng-show="false">stop</button>
              <button class="button button-positive" ng-click="startRecord()" ng-show="false">开启录制 </button>
              <button class="button button-positive" ng-click="stopRecord()" ng-show="false">停止录制 </button>
              <button class="button button-positive" ng-click="insertBkImage()">背景</button>
              <button class="button button-positive" ng-click="insertProp()">道具</button>
              <button class="button button-positive" ng-click="insertPeople()">人物</button>
              <button class="button button-positive" ng-click="insertIComponent()">元件</button>
              <button class="button button-positive" ng-click="testInsert()">文字</button>
              <button class="button button-positive" ng-click="EditorService.changeSkin('https://res.cloudinary.com/eplan/image/upload/v1501348053/c29.png')"
                        ng-show="false">换皮肤</button>
              <button class="button button-positive" ng-click="insertRectangle()">矩形</button>
              <button class="button button-positive" ng-click="insertCircle()">圆</button>
              <button class="button button-positive" ng-click="insertBkImageFromLocal()">+本地背景</button>
              <button class="button button-positive" ng-click="insertPropFromLocal()">+本地道具</button>
              <input type="file" id="id-input-image" titl="本地道具2">
              <button class="button button-positive" ng-click="insertSound()" ng-show="true">素材库声音</button>
              <button class="button button-positive" ng-click="playHowlerAudio()" ng-show="true">Howler play/resume</button>
              <button class="button button-positive" ng-click="pauseHowlerAudio()" ng-show="true">Howler Pause</button>
              <button class="button button-positive" ng-click="insertSoundFromLocal(false)" ng-show="true">本地声音</button>
              <input type="file" id="id-input-sound" accept="audio/*">
              <button class="button button-positive" ng-click="insertSoundFromRecorder(true)" ng-show="true">开始录音</button>
              <button class="button button-positive" ng-click="stopAudioRecording()" ng-show="true">停止录音</button>
              <button class="button button-positive" ng-click="onStopTryMusic(true)" ng-show="true">停止播放录音</button>
              <button class="button button-positive" ng-click="EditorService.attachTextBubble()" ng-show="false">加气泡</button>
              <button class="button button-positive" ng-click="EditorService.detachTextBubble()" ng-show="false">删气泡</button>
              <button class="btn-big ion-ios-copy-outline" ng-click="EditorService.mCopyToggle()" ng-show="false">mCopy</button>
              <button class="btn-big ion-ios-unlocked" ng-click="EditorService.pinIt()" ng-show="false">PinIt</button>
              <button class="btn-big" ng-click="EditorService.hideOrShow()" ng-show="false">隐藏or显示</button>
              <button class="button button-positive" ng-click="SelectSet.multiCmdGroupIt()">打包</button>
              <button class="button button-positive" ng-click="SelectSet.multiCmdJointIt()">加关节</button>
              <button class="button button-positive" ng-click="SelectSet.explode()">炸开</button>
              <button class="button button-positive" ng-click="es.moveCtrl.onMoveUpLayer($event)">升</button>
              <button class="button button-positive" ng-click="es.moveCtrl.onMoveDownLayer($event)">降</button>
              <button class="button button-positive" ng-click="es.moveCtrl.onMoveToTop($event)" ng-show="false">升升</button>
              <button class="button button-positive" ng-click="es.moveCtrl.onMoveToBottom($event)" ng-show="false">降降</button>
              <button class="button button-positive" ng-click="am.rotate($event)" ng-show="false">旋转</button>
              <button class="button button-positive" ng-click="am.scaleIn($event)" ng-show="false">变大</button>
              <button class="button button-positive" ng-click="am.scaleOut($event)" ng-show="false">变小</button>
              <button class="button button-positive" ng-click="am.fadeIn($event)" ng-show="false">淡入</button>
              <button class="button button-positive" ng-click="am.fadeOut($event)" ng-show="false">淡出</button>
              <button class="button button-positive" ng-click="am.twinkle($event)" ng-show="false">闪烁</button>
              <button class="button button-positive" ng-click="am.leftIn($event)" ng-show="false">左边飞入</button>
              <button class="button button-positive" ng-click="am.rightIn($event)" ng-show="false">右边飞入</button>
              <button class="button button-positive" ng-click="am.bottomIn($event)" ng-show="false">底边飞入</button>
              <button class="button button-positive" ng-click="am.topIn($event)" ng-show="false">上边飞入</button>
              <button class="button button-positive" ng-click="am.leftOut($event)" ng-show="false">左边飞出</button>
              <button class="button button-positive" ng-click="am.rightOut($event)" ng-show="false">右边飞出</button>
              <button class="button button-positive" ng-click="am.bottomOut($event)" ng-show="false">底边飞出</button>
              <button class="button button-positive" ng-click="am.topOut($event)" ng-show="false">上边飞出</button>
              <ui-select ng-model="font.selected" theme="select2" style="min-width: 100px;"
                         on-select="onSelectCallback($item, $model)" title="Choose a size" ng-show="false">
                    <ui-select-match placeholder="Select a size">{{$select.selected.size}}
                </ui-select-match>
                <ui-select-choices repeat="font in fontSizes"
                                   position='down'>
                  <div value="font.value" ng-bind-html="font.size | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

              <button class="button button-positive" my-click="uploadScreenshot()">截屏上传</button>
              <button class="button button-positive" my-click="EditorService.saveScreenShot()">截屏保存</button>

              <button class="button button-positive" ng-click="undo()">undo</button>
              <button class="button button-positive" ng-click="redo()">redo</button>
              <button class="button button-positive" ng-click="addLevel()" ng-show="true">建立新level</button>
              <button class="button button-positive" ng-click="deleteCurrentLevel()" ng-show="false">删除当前level</button>
              <button class="button button-positive" ng-click="deleteLevel(2)" ng-show="false">删除level 2</button>
              <button class="button button-positive" ng-click="gotoPreLevel()" ng-show="false">前一个level</button>
              <button class="button button-positive" ng-click="gotoNextLevel()" ng-show="false">后一个level</button>
            </div>


            <div style="display:none"> <!-- all, passed -->
            <button class="button button-positive" ng-click="testInsert()">Insert</button>
            <button class="button button-positive" ng-click="EditorService.mCopyToggle()">mCopy</button>
            <button class="button button-positive" ng-click="testDownload()">下载资源</button>
            <button class="button button-positive" ng-click="testDownloadBulk()">下载资源Bulk</button>
            <button class="button button-positive" ng-click="testClearAll()">清空</button>
            <button class="button button-positive" ng-click="insertLocalImageWithOrientation()">+朝向测试</button>
            <button class="button button-positive" ng-click="insertAlbum()">+图册</button>
            <button class="button button-positive" ng-click="insertFromCamera()">+相机</button>
            <button class="button button-positive" ng-click="deleteElement()">删除</button><button class="button button-positive" ng-click="testShowMsg()">showMsg</button>
            <button class="button button-positive" ng-click="testPrompt()">showMsgOK</button>
            <button class="button button-positive" ng-click="reloadN()">反复加载</button>
            <button class="button button-positive" ng-click="EditorService.insertSnow()">下雪</button>
            <button class="button button-positive" ng-click="EditorService.ParticleMgr.stop()">停雪</button>
            <button class="button button-positive" ng-click="EditorService.insertRain()">下雨</button>
            <button class="button button-positive" ng-click="EditorService.ParticleMgr.stop()">停雨</button>

                <!-- 材质 -->
            <div style="display: none">
                <button class="button button-positive" ng-click="getWcy()">从服务器获取作品</button>
                <button class="button button-positive" ng-click="testCreateLevel()">Add New Level</button>
                <button class="button button-positive" ng-click="gotoPreLevel()">Pre</button>
                <button class="button button-positive" ng-click="gotoNextLevel()">Next</button>
            </div>

              <div style="display: none">
                <label>{{params}}{{getTextMsg()}} </label>
                <ion-toggle ng-model="isPlaying" ng-change="onChange()">播放</ion-toggle>
            </div>
        </div>
        </div>
        <canvas id="testCanvas" class="pt-perspective content-layer positive-border" ng-style="state.canvasStyle"></canvas>
        <div id="id-page-effect1" class="pt-perspective page-effect-layer positive-border" ng-style="state.canvasStyle" ng-show="pteState.page1On">
            <img ng-src={{pteState.page1Image}}>
        </div>

        <div id="textEditBoxDiv" style="display:none">
            <input type="text" value="7332058" id="textEditBox"/>
            <div id="anchor">EndOfPageEndOfPageEnd</div>


            <!-- 以下是专门供"保存文件"对话框界面使用的, 不需要在首页中load, 可以分开 -->
            <div id="GetTextInput" style="display:none">
                <form>
                    <fieldset>
                        <label for="textEditorDemo"> </label>
                        <input type="text" name="textEditorDemo"   id="textEditorDemo" class="text ui-widget-content ui-corner-all" />
                    </fieldset>
                </form>
            </div>

            <!-- 以下是 TextEditor的 对话框资源 -->
            <style>
                #textEditBoxDiv {
                    position:absolute;
                    left: 10px;
                    top:10px;
                    z-index: 1001;
                    border: 0;
                    display: none;
                }

                #textEditBox {
                    font-family: "宋体";
                    font-size: 16px;
                    color:#0000ff;
                    opacity: 0.0;
                    background: none repeat scroll 0 0 transparent;
                    width: 660px;
                }
            </style>

            <div id="textEditBoxDiv" style="display:none">
                <input type="text" value="7332058" id="textEditBox"/>
                <div id="idTextEditorToolbar" style="display:">
                    <select class="fn-left" id="fontFamilySelector">
                        <option value="楷体" selected="selected">楷体</option>
                        <option value="仿宋">仿宋</option>
                        <option value="宋体">宋体</option>
                        <option value="新宋体">新宋体</option>
                        <option value="隶书">隶书</option>
                        <option value="幼圆">幼圆</option>
                        <option value="黑体">黑体</option>
                        <option value="微软雅黑">微软雅黑</option>
                        <option value="新宋体">新宋体</option>
                        <option value="方正舒体">方正舒体</option>
                        <option value="方正姚体">方正姚体</option>
                        <option value="华文彩云">华文彩云</option>
                        <option value="华文仿宋">华文仿宋</option>
                        <option value="华文行楷">华文行楷</option>
                        <option value="华文琥珀">华文琥珀</option>
                        <option value="华文楷体">华文楷体</option>
                        <option value="华文隶书">华文隶书</option>
                        <option value="华文宋体">华文宋体</option>
                        <option value="华文细黑">华文细黑</option>
                        <option value="华文新魏">华文新魏</option>
                        <option value="华文中宋">华文中宋</option>
                        <!--- English --->
                        <option value="Arial Unicode MS">Arial Unicode MS</option>
                        <option value="Meiryo UI">Meiryo UI</option>
                        <option value="Microsoft JhengHei">Microsoft JhengHei</option>
                        <option value="Microsoft JhengHei UI">Microsoft JhengHei UI</option>
                        <option value="DotumChe">DotumChe</option>
                        <option value="MS PGothic">MS PGothic</option>
                        <option value="comic sans ms">Comic Sans</option>
                        <option value="courier new">Courier New</option>
                        <option value="georgia">Georgia</option>
                        <option value="helvetica">Helvetica</option>
                        <option value="impact">Impact</option>
                        <option value="times new roman">Times</option>
                        <option value="trebuchet ms">Trebuchet</option>
                        <option value="verdana">Verdana</option>
                    </select>

                    <div class="jdt-xia3" id="textEditBoxDivFontSize">
                        <span class="fn-left jdt-wenzi"></span>
                        <div class="jdt-progress" style="position:relative" aria-disabled="false"></div>
                    </div>
                    <div class="fn-left leftwidth">
                        <input class="color" id="fontcolor" value="66ff00">
                    </div>

                    <button class="W_btn_b fontsb" id="idOK">queren></button>
                    <button class="W_btn_b fontsb" id="idNo">guanbi></button>
                </div>
            </div>

            <div id="messageBubbleDiv" style="display:none">
                <label for="bubble" id="bubble"></label>
            </div>

        </div>
        <div class="border-ft top-right-bar" id="floatToolbarDiv">
        </div>

        <div class="float-tool-3">
            <div class="new-right-broadcast"  style="display:none">
                <button title="{{getLocale('wcy_gongneng_button_8')}}" class="bn-new-hover" id="beginning">
                    <span class="ui-icon ui-icon-seek-start"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_9')}}" class="bn-new-hover" id="backward">
                    <span class="ui-icon ui-icon-seek-prev"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_10')}}" class="bn-new-hover bn-new-icon-big" id="stop">
                    <span class="ui-icon ui-icon-stop"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_6')}}" class="bn-new-hover bn-new-icon-big" id="play" style="display:none">
                    <span class="ui-icon ui-icon-play"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_11')}}" class="bn-new-hover" id="rewind" >
                    <span class="ui-icon ui-icon-refresh"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_12')}}" class="bn-new-hover" id="forward">
                    <span class="ui-icon ui-icon-seek-next"></span>
                </button>
                <button title="{{getLocale('wcy_gongneng_button_13')}}" class="bn-new-hover" id="end">
                    <span class="ui-icon ui-icon-seek-end"></span>
                </button>
            </div>
            <div class="new-right-middle" id="timeAxisDiv" style="display:none">
                <div class="w45">
                    <button title="{{getLocale('wcy_gongneng_button_5')}}" class="bn-new-icon" id="recorder" status="0">
                        <span class="luying"></span>
                    </button>
                    <button title="{{getLocale('wcy_gongneng_button_6')}}" class="bn-new-icon" id="playRecord" status="start">
                        <span class="ui-icon ui-icon-viden"></span>
                    </button>
                    <button title="{{getLocale('wcy_gongneng_button_7')}}" class="bn-new-icon" id="stopRecord" style="display:none">
                        <span class="ui-icon ui-icon-redviden"></span>
                    </button>
                </div>

                <div class="middle-sjd" id="action_start_end_div" style="display:none">
                    <div class="middle-progress-new" id="action_start_btn"></div>
                    <div class="middle-progress-new" id="action_end_btn"></div>
                </div>
                <div class="fn-left middle-progress-number">
                    <input class="ipt-2" type="text" value="" id="timeValueInput">
                        <span>
                            <label for="timeValueInput"></label>
                            <label id="maxTimeValue">200</label>
                            <span style="display:none;"> {{getLocale('wcy_index_zhen')}}</span>
                        </span>
                </div>
            </div>
        </div>
  <div id="clip-div" class="toolbar-layer" style="display: none; position: absolute; width:100%; height: 100%">
    <canvas id="clipCanvas" width="100%" height="100%" style="background: whitesmoke;"></canvas>
    <span class="toolbox-close-btn-layer top-right-align">
			<span ng-show="sc.clipMask">
				<button ng-show="sc.IN_DEV" class="button2-bgc" ng-click="sc.clip.setMask(1);"
                title={{sc.getStr("Skip")}}>圆</button>
				<button ng-show="sc.IN_DEV" class="button2-bgc" ng-click="sc.clip.setMask(2);"
                title={{sc.getStr("Skip")}}>方</button>
				<button class="button2-bgc" ng-click="sc.turnOffClip();"
                title={{sc.getStr("Skip")}}>不裁</button>
			</span>
			<button ng-hide="sc.clipMask" class="button2-bgc" ng-click="sc.turnOnClip();"
              title={{sc.getStr("Clip")}}>裁</button>
      <button id="id-icon-ok-bg" class="button2-bgc" ng-click="sc.confirmClip();"
              title={{sc.getStr("OK")}}></button>
      <button id="id-icon-close-bg" class="button2-bgc" ng-click="sc.cancelClip()"
              title={{sc.getStr("Cancel")}}></button>
		</span>

  </div>

</ion-content>
</ion-view>
