/* Empty. Add your own CSS if you like */

.float-tool_new {
    position: fixed;
    top: 0px;
    left: 0px;
}

.float-tool {
    position: fixed;
}

.float-tool-3 {
    position: fixed;
    top: 330px;
    left: 150px;
}

