/* 字体规划 */
.ui-font-md {
    font-size: 2rem;
    color: black;
}

#id-debug-panel {
  position: absolute;
  background: white;
  border: solid 2px silver;
}

/* 图层规划 */
.debug-panel-layer {
  z-index: 9500;
}

.message-layer {
    z-index:9000;
}

.dlg-layer {
    z-index:8000;
}

.toolbox-layer {
    z-index: 7500;
}

.toolbox-close-btn-layer {
    z-index: 7520;
}

.toolbar-layer-middle {
    z-index: 7500;
}
.toolbar-layer {
    z-index:7000;
}

.content-layer {
    z-index:5000;
}

.video-layer {
  z-index: 5500;
}

.video-container {
  position: absolute;
  display: block;
  pointer-events: none
}

.page-effect-layer {
    z-index: 4900;
}
.inline {
    display: inline !important;
}

.ui-slider {
    position: relative;
    text-align: left;
    height: 1rem;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2rem;
    height: 1.2rem;
    height: 10vh;
    cursor: default;
    background: blue;
    top: -0.6rem;
    top: -5vh;
    margin-left: -.6em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: lightgrey;
    top: 0;
    left: 0;
    height: 100%;
}

.ui-slider .ui-slider-range-min {
    left: 0;
}
.ui-slider .ui-slider-range-max {
    right: 0;
}

#timer-axis-value {
    position: relative;
    top: -1.5rem;
    left: 100%;
    margin-left: 10px;
    pointer-events: none;
}

.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

#testCanvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightskyblue; /* 会被ng-style动态替换 */

    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#id-page-effect1 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightskyblue;

    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.weui2-toolbox {
    /* 修改自 weui-dialog */
    position: fixed;
    width: 100%;
    max-height: 25vmin; /* 略大于 top bar， 以完全盖住它 */
    top: 0;
    left: 0;
    background-color: lightgrey;
    text-align: center;
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.close-btn {
    position: fixed;
    top: 0;
    right: 0;
}

