/* 字体规划 */
.ui-font-md {
    font-size: 2rem;
    color: black;
}

/* 图层规划 */
.message-layer {
    z-index:9000;
}

.dlg-layer {
    z-index:8000;
}

.toolbar-layer {
    z-index:7000;
}

.content-layer {
    z-index:5000;
}


.inline {
    display: inline !important;
}

.ui-slider {
    position: relative;
    text-align: left;
    height: 1rem;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2rem;
    height: 1.2rem;
    cursor: default;
    background: blue;
    top: -.3em;
    margin-left: -.6em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: lightgrey;
    top: 0;
    left: 0;
    height: 100%;
}

.ui-slider .ui-slider-range-min {
    left: 0;
}
.ui-slider .ui-slider-range-max {
    right: 0;
}

#timer-axis-value {
    position: relative;
    top: -2rem;
    left: 100%;
    margin-left: 10px;
}

#testCanvas {
    position: fixed;
    top: 0;
    left: 0;
}
