
#timer-bar-div {
    position: fixed;
    left: 5%;
    top: 70%;
    height: 2px;
    width: 60%;
    color: red; /* lightgrey; */
    background-color: yellow; /* lightcyan; */
    pointer-events: none;
    /* overflow-x: hidden; */
    /* white-space: nowrap */
}

#timer-slider-2 {
    position: relative;
    height: 2px;
    width: 100%;
    color: blue;
    background-color: silver;
    pointer-events: auto;
}

#maxTimeValue-2 {
    font-size: 2rem;
    color: white;
}
